<style>

/* Force Landscape Mode, the real method */

#warning-message { display: none; 
background-color: #66CC6F;
color:black;
font-size:30px;
}

@media only screen and (orientation:portrait){
#wrapper { display:none; }
#warning-message { display:block; }

 }

    @media only screen and (orientation:landscape){
        #warning-message { display:none; }

    }
    
    

/* Define keyframes */

        html {
            height: 100%;
        }
	
	
            @keyframes spinround {
           50% {transform: rotateY(-90deg);}
           }
            
            @keyframes spinround2 {
           50% {transform: rotateY(90deg);}
           }
		   
		   @keyframes spit {
		  50% {transform: rotateX(90deg);}
		   }
		   
		   @-webkit-keyframes blinker {  
		from { opacity: 1.0; }
		to { opacity: 0.0; }
		}
		

/* Define classes */		   
	
		.spit {
		animation-name: spit;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		}
		
		.css3-blinker {
		 -webkit-animation-name: blinker;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 2.5s;
}	

.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.youtube-responsive-container iframe, 
.youtube-responsive-container object, 
.youtube-responsive-container embed {
position:absolute;
width:100%;
height:100%;
}

/* Styling, etc */
				
            body{background: url(images/background.png); 
			font-family: Courier New;
			color:white;
			}
			
			p {
			width: 70%;
			position: relative;
			left: 15%;
			}
			
						
			h1 {
			font-family: monospace;
			text-align: center;
			font-weight: bold;
			font-size:36px;
			text-decoration: underline;
			animation-name: crossfade;
			animation-duration: 3.5s;
			animation-iteration-count: infinite;

			}
			
			h2 {
			font-family: Courier New;
			text-align: center;
			font-weight: bold;
			font-size: 28px;
			text-decoration: underline;
			}
			
			h3 {
			font-weight: bold;
			color: #FFE64D;
			text-align: center;
			}
			
			a:link {
			color:#99ffff;
			text-decoration: none;
			}
			
			a:visited {
			color:#99c1ff;
			text-decoration: none;
			}
			
			a:hover {
			color:#99e0ff;	
			text-decoration: underline;
			}
			
/* Define & style divs */    
			
    #playlist {
		position: relative;
		left:15%;
		width:70%;
		text-align:justify;
        font-family:serif;
		}
		
    #plays {
        text-align: center;
        animation: spinround 3s linear infinite;
        }
    #plays2 {
        text-align: center;
        animation: spinround2 3s linear infinite;
        }
        
    #center-menu {
        background-color:rgba(0,0,0,0.8);
        width:60%;
        position:relative;
        left:5%;    
        }
        
    #contact {
	  position: fixed;
	bottom: 0;
	right: 0;
	border: 10px solid #99c1ff;
	background-color: black;
	color: #99c1ff;
    }
    
    
    
	</style>
